<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kwelyo</title>
  <link rel="stylesheet" href="/css/semantic.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="kwelyo title centered ui header" style='margin-top: 50px;'>KWELYO</h1>
    <div class="ui segment container">
        <h2 class="ui header">Mga Karpintero (Carpenters)</h2>
        <table class="ui three column celled table stackable">
            <thead>
                <tr>
                    <th>Pangalan</th>
                    <th>Lokasyon</th>
                    <th>Contact Number</th>
                </tr>
            </thead>
                <tr>
                    <td>Juan</td>
                    <td>Quezon</td>
                    <td>
                        <div class="ui primary button hidden_number">0906 XXX XXXX</div>
                        <div class="ui primary button real_number">0906 461 2583</div>
                    </td>
                </tr>
        </table>
    </div>
</body>
</html>

