<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kwelyo</title>
  <link rel="stylesheet" href="/css/semantic.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="ui middle aligned center aligned stackable grid fullpage">
    <div class=" row">
      <div class="ten wide column centered">
          <h1 class="ui secondary header">
              <div class="kwelyo title">
                KWELYO
              </div>
          </h1>
          <div class="ui huge segment">
                <div class="ui three cards stackable" style='padding-top: 20px;'>
                    <a class="image card compact">
                        <img src="/images/carpenter.png" alt="" class="ui small centered image">
                        Karpintero <br> (Carpenter)
                    </a>
                    <a class="image card compact">
                        <img src="/images/plumber.png" alt="" class="ui small centered image">
                        Tubero <br>(Plumber)
                    </a>
                    <a class="image card compact">
                        <img src="/images/mechanic.png" alt="" class="ui small centered image">
                        Mekaniko <br> (Mechanic)
                    </a>
                    <a class="image card compact">
                        <img src="/images/maid.png" alt="" class="ui small centered image">
                        Kasambahay <br>(Maid)
                    </a>
                    <a class="image card compact">
                        <img src="/images/babysitter.png" alt="" class="ui small centered image">
                        Yaya <br> (Babysitter)
                    </a>
                    <a class="image card compact">
                        <img src="/images/driver.png" alt="" class="ui small centered image">
                        Tsuper <br>(Driver)
                    </a>
                    <a class="image card compact">
                        <img src="/images/chef.png" alt="" class="ui small centered image">
                        Kusinero <br> (Cook)
                    </a>
                    <a class="image card compact">
                        <img src="/images/masonry.png" alt="" class="ui small centered image">
                        Masonero <br> (Mason)
                    </a>
                    <a class="image card compact">
                        <img src="/images/electrician.png" alt="" class="ui small centered image">
                        Elektrisista <br> (Electrician)
                    </a>
                </div>
                <div style='text-align: center; font-size: 10px; margin-top: 10px; margin-bottom: -10px;'>Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
          </div>
      </div>
    </div>
  </div>
</body>
</html>

